<%- include('part/header'); %>
    <div class="container">
        <% if ( mess !=='ok') { %>
            <div class="btn btn-warning">
                <%= mess %>
            </div>
            <% } %>
                <form action="/confirm" method="POST">

                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <input type="email" class="form-control" placeholder="Enter email" id="email" name="email" required>
                    </div>

                    <div class="form-group">
                        <label for="otp">OTP :</label>
                        <input type="text" class="form-control" placeholder="Enter OTP" id="otp" name="otp" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Confirm</button>
                    <div class="mce-text-center col-md">or</div>
                    <button class="btn btn-secondary"><a href="/register" style="color:white">Register</a>  </button>
                    <button class="btn btn-secondary"><a href="/login" style="color:white"> Log in </a>  </button>

                </form>
    </div>

    <%- include('part/footer'); %>